.navbar {
    margin-bottom: 50px;
    padding: 0px;
}

#homepage {
   text-align: center; 
}

#Tasks {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.list {
    background-color: gray;
    margin: 20px;
    padding: 0;
    list-style: none;
}

.list li {
    padding: 10px 0;
}

.task-list-item {
    color: black;
    font-size: 1rem;
}

.checked {
    text-decoration: line-through;
}