.navbar {
    margin-bottom: 50px;
    padding: 0px;
}

#homepage {
   text-align: center; 
}

#myTask {
    padding-bottom: 6px;
}

#Tasks {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.list {
    background-color: #adb5bd;
    margin: 20px;
    padding: 0;
    list-style: none;
    border: 2px solid black;
    border-radius: 10px;
}

.list li {
    padding: 2px 0;
    border-bottom: 1px solid black;
}

.list li a {
    color: red;
}

.list li a:hover {
    text-decoration: none;
}

.task-list-item {
    color: black;
    font-size: 1.5rem;
}

.checked {
    text-decoration: line-through;
}

.close {
    color: red;
    padding-top: 6px;
}