{% extends 'base.html.twig' %}

{% block body %}

<div class="container" id="homepage">
    <h3 id="title">TaskList! An app to view your daily tasks</h3>

    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path("homepage") }}">
        <button type="button" class="btn btn-primary btn-lg">Login</button>
    </a>
    
    <a href="{{ path("homepage") }}">
        <button type="button" class="btn btn-primary btn-lg">Register</button>
    </a>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path("homepage") }}">
        <button type="button" class="btn btn-primary btn-lg">My Tasks</button>
    </a>
    {% endif %}
</div>

{% endblock %}