{% extends 'base.html.twig' %}

{% block body %}

<div class="container" id="homepage">

    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <h3 id="title">TaskList! A simple CRUD app in Symfony</h3>
    <a href="{{ path("login") }}">
        <button type="button" class="btn btn-primary btn-lg">Login</button>
    </a>
    
    <a href="{{ path("register") }}">
        <button type="button" class="btn btn-primary btn-lg">Register</button>
    </a>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h3 id="userTitle">Welcome {{ app.user.username }} !</h3>
    <a href="{{ path("display_tasks") }}">
        <button type="button" class="btn btn-primary btn-lg">My Tasks</button>
    </a>
    {% endif %} 
</div>

{% endblock %}